<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>purchasing</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
    <table border="2">
        <tr>
            <th>name</th>
            <th>price_in(HK$)</th>
            <th>price_out(¥)</th>
            <th>desc</th>
            <th>address</th>
            <th>category</th>
            <th>photo</th>
        </tr>
        <tr>
            <td><input type="text" name="goods_name" placeholder="商品名称"></td>
            <td><input type="text" name="goods_price_in" placeholder="进价"></td>
            <td><input type="text" name="goods_price_out" placeholder="售价"></td>
            <td><input type="text" name="goods_desc" placeholder="商品描述"></td>
            <td><input type="text" name="goods_address" placeholder="购买地址"></td>
            <td><select name="goods_categories">
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.categories_name}}</option>
                    {% endfor %}
                </select></td>
            <td><input type="file" name="goods_photo"></td>
            <td><input type="submit" value="submit"></td>

        </tr>
    </table>
    </form>
</body>
</html>