{% extends 'base.html'%}
{% load static %}

{% block results%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <table border="2">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price_in(HK$)</th>
            <th>price_out(¥)</th>
            <th>desc</th>
            <th>address</th>
            <th>category</th>
            <th>photo</th>
        </tr>
        {% for good in goods%}
        <tr>
            <td>{{good.id}}</td>
            <td>{{good.goods_name}}</td>
            <td>{{good.goods_price_in}}</td>
            <td>{{good.goods_price_out}}</td>
            <td>{{good.goods_desc}}</td>
            <td>{{good.goods_address}}</td>
            <td>{{good.goods_category.categories_name}}</td>
            <td><img src="{%static good.goods_photo%}" width="50px" height="50px"></td>
        {%endfor%}
        </tr>
    </table>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="{% url 'goods_list'%}?page={{page_obj.previous_page_number}}">上一页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
        {% endif%}
        {% if left_has_more %}
            <li><a href="{% url 'goods_list'%}?page=1">1</a></li>
            <li><a href="javascript:void(0)">...</a></li>
        {% endif %}
        {% for page in left_pages %}
            <li><a href="{% url 'goods_list'%}?page={{page}}">{{page}}</a></li>
        {% endfor %}

        <li class="active"><a href="javescript:void(0)">{{page_obj.number}}</a></li>
        {% for page in right_pages %}
            <li><a href="{% url 'goods_list'%}?page={{page}}">{{page}}</a></li>
        {% endfor %}
        {% if right_has_more %}
            <li><a href="javascript:void(0)">...</a></li>
            <li><a href="{% url 'goods_list'%}?page={{paginator.num_pages}}">{{paginator.num_pages}}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="{% url 'goods_list'%}?page={{page_obj.next_page_number}}">下一页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
        {% endif%}
    </ul>
{% endblock %}