{% extends 'base.html'%}
{% load static %}

{% block results%}
    {% if goods%}
        <table border="2">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price_in(HK$)</th>
                    <th>price_out(¥)</th>
                    <th>desc</th>
                    <th>address</th>
                    <th>category</th>
                    <th>photo</th>
                </tr>
                {% for good in goods%}
                <tr>
                    <td>{{good.id}}</td>
                    <td>{{good.goods_name}}</td>
                    <td>{{good.goods_price_in}}</td>
                    <td>{{good.goods_price_out}}</td>
                    <td>{{good.goods_desc}}</td>
                    <td>{{good.goods_address}}</td>
                    <td>{{good.goods_category.categories_name}}</td>
                    <td><img src="{%static good.goods_photo%}" width="50px" height="50px"></td>
                {%endfor%}
                </tr>
        </table>
        <div>
            <a href="#">上一页</a><a href="#">下一页</a>
        </div>

    {% else %}
        <p>没有找到相关商品</p>
    {%endif%}
{% endblock%}
